{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1 style="color:teal">Home Page</h1>
<hr class="mt-0 mb-4">
<body>
<div>
    <p style="font-family:times new roman; font-size:150%; text-align:center">Welcome to my personalized random password generator.</p>
</div>
<div>
    <p>In this page you can customize your randomly generated passowords, the maximun length will be set at 100 characters.</p>
    <hr class="mt-0 mb-4">
</div>
</body>
{% endblock %}


